/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Establecer fondo general y fuente */

/* Estilo para el contenedor principal (contenido) */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 18px 18px 24px 18px;
    /* reajustamos el padding para dejar mas espacio entre el titulo y la barra de arriba (navbar)*/
}

/* Encabezados globales */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Párrafos */
p {
    margin-bottom: 20px;
}

/* Enlaces */
a {
    color: #2196F3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo de botones */
button {
    background-color: #a8acad;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2b2b2c;
}

/* Media Queries para hacer la página responsiva */

/* Para pantallas de tablet y más pequeñas (máximo 768px de ancho) */
@media (max-width: 768px) {

    /* Aseguramos que el contenedor se ajuste a pantallas más pequeñas */
    .container {
        padding: 10px;
    }

    /* Hacer que los encabezados sean un poco más pequeños */
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    /* Hacer que los botones sean más pequeños */
    button {
        padding: 8px 16px;
        font-size: 14px;
    }
}

/* Para pantallas de teléfonos móviles (máximo 480px de ancho) */
@media (max-width: 480px) {

    /* Ajustar el tamaño de fuente en párrafos y encabezados */
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    /* Redimensionar botones y otras interacciones */
    button {
        padding: 6px 12px;
        font-size: 14px;
    }

    /* Asegurarse de que los enlaces sean más fáciles de leer en pantallas pequeñas */
    a {
        font-size: 16px;
    }
}

/* Para pantallas grandes (mayores a 1200px de ancho) */
@media (min-width: 1200px) {

    /* Ajustar el tamaño de fuente de los encabezados en pantallas grandes */
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 26px;
    }

    /* Ajustar el tamaño de los botones para pantallas grandes */
    button {
        padding: 12px 24px;
        font-size: 18px;
    }
}



/*
TAMAÑOS DE LETRA, PADDINGS, MÁRGENES
************************************************************************************************************************************************
************************************************************************************************************************************************
************************************************************************************************************************************************
*/
.fs-8 {
    font-size: 8px;
}

.fs-7 {
    font-size: 7px;
}

.fs-9 {
    font-size: 9px;
}

.fs-10 {
    font-size: 10px;
}

.fs-11 {
    font-size: 11px;
}






/******************************************************************************************************/
/******************************************************************************************************/
/******************************************************************************************************/
/******************************************************************************************************/
/* Estilo general para el cuerpo */


/* Contenedor principal */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Caja de login */
.login-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

/* Título del formulario */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Estilos para las alertas */
.alert {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
}

/* Estilos para los grupos de entrada */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
}

select#area,
#noEmpleado {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Estilos para la vista previa de la foto */
.photo-preview {
    display: flex;
    justify-content: center;
    /* Centra la imagen horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    width: 100%;
    height: 200px;
    /* Ajusta la altura según sea necesario */
    overflow: hidden;
    /* Evita que la imagen se salga */
}

#photo-image {
    max-width: 100%;
    /* Para que la imagen no se desborde */
    max-height: 100%;
    /* Para que la imagen se ajuste sin perder la proporción */
    margin: 0 auto;
    /* Centra la imagen */
    display: block;
    /* Asegura que el bloque ocupe el espacio completo */
}


/* Estilos para la opción Recordarme */
.remember-me {
    text-align: left;
    margin-top: 10px;
}

.remember-me input {
    margin-right: 5px;
}

/* Botones */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

/* Estilo para el botón de acceso por QR */
.qr-option {
    margin-top: 15px;
}

.qr-option button {
    background-color: #007bff;
}

.qr-option button:hover {
    background-color: #0056b3;
}

/* Enlace para registro */
.register-link {
    margin-top: 20px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    flex: 1;
    padding-right: 30px;
}

.eye-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

/************ESTILOS PARA MODAL de olvidaste contraseña en LOGIN**************************************************/
/************************************************************************************************************/
/* Fondo del modal (oscuro y semitransparente) */
.modal {
    display: none;
    /* Inicialmente oculto */
    position: fixed;
    /* Fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro con transparencia */
    z-index: 1000;
    /* Aseguramos que esté por encima de otros elementos */
}

/* Contenido del modal (el cuadro flotante) */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    /* Centrado vertical y horizontal */
    padding: 20px;
    border-radius: 8px;
    /* Bordes redondeados */
    width: 300px;
    /* Ancho fijo del modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra para dar el efecto flotante */
}

/* Estilo del botón de cerrar */
#close-modal {
    margin-top: 10px;
    background-color: #f44336;
    /* Rojo */
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
}

#close-modal:hover {
    background-color: #d32f2f;
}

/************ESTILOS PARA TABLA de planeación**************************************************/
/************************************************************************************************************/
.table-container {
    display: flex;
    justify-content: space-between;
    /* Esto separa los dos elementos */
    gap: 10px;
    /* Espacio entre la tabla y los botones */
    margin-bottom: 20px;
    max-height: 240px;
    /* Ajusta la altura según necesites */
}

/* Establecer que el encabezado de la tabla sea fijo */
.table-container-plane {
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
}

/* Contenedor de la tabla */
.table-wrapper {
    flex: 1;
    /* La tabla ocupará todo el espacio disponible */
    overflow-x: auto;
    /* Permite el desplazamiento horizontal si la tabla es muy ancha */
}

.plane-body {
    background-color: #a8d6f8;
}

.plane-table {
    min-width: 2000px;
    /* Ajusta el ancho mínimo si es necesario */
    border-collapse: collapse;
}

.plane-thead-tr {
    position: sticky;
    top: 0;
    /* Se fija en la parte superior cuando se desplaza */
    background-color: #12a60a;
    /* Verde Excel */
    z-index: 10;
}

/* Establecer el comportamiento de las celdas */
table.celP td {
    max-height: 10px;
    /* Ajusta esta altura según lo necesites */
    overflow: hidden;
    /* Ocultar el contenido que exceda la altura */
    text-overflow: ellipsis;
    /* Agregar puntos suspensivos a contenido largo */
    padding: 4px 8px;
    /* Ajustar el padding para reducir el espacio interno */
    white-space: nowrap;
    /* Evitar que el texto se rompa en varias líneas */
    text-align: center;
}

.nombreApp {
    position: absolute;
    /* Se coloca sobre otros elementos */
    top: 10px;
    /* Ajusta la distancia desde la parte superior */
    left: 70%;
    /* Lo lleva al centro */
    transform: translateX(-50%);
    /* Centra el texto exactamente */
    font-size: 18px;
    /* Tamaño de texto adecuado */
    font-weight: bold;
    /* Texto en negrita */
    color: white;
    /* Color llamativo */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Sombra para mejor visibilidad */
    background: rgba(0, 0, 0, 0.2);
    /* Fondo semi-transparente opcional */
    padding: 5px 15px;
    /* Espaciado interno */
    border-radius: 10px;
    /* Bordes redondeados */
}

.botonesApp {
    position: absolute;
    /* Se coloca sobre otros elementos */
    top: 4px;
    /* Ajusta la distancia desde la parte superior */
    left: 50%;
    /* Lo lleva al centro */
    transform: translateX(-50%);
    /* Centra el texto exactamente */
}

#qr-video-container {
    position: fixed;
    /* Se mantiene fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo oscuro semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Asegura que esté por encima de todo */
    display: none;
    /* Oculto por defecto */
}

#qr-video {
    width: 80vw;
    /* Ajusta el tamaño del video */
    max-width: 400px;
    height: auto;
    border: 5px solid white;
    border-radius: 10px;
    background: black;
}

.impresion-UE {
    font-size: 8px;
}

.impresion-UE-2 {
    font-size: 12px;
}


/*Estilos para SCROLL más grueso - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/*- - - - - - - - - - - - - - - - -  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
.bigScroll::-webkit-scrollbar {
    width: 15px;
    /* Grosor scroll vertical */
    height: 15px;
    /* Grosor scroll horizontal */
}

.bigScroll::-webkit-scrollbar-thumb {
    background: #2d9a12;
    border-radius: 2px;
    border: 1px solid #c1c950;
    /* Opcional: borde para que se vea más "suave" */
}

.bigScroll::-webkit-scrollbar-track {
    background: #e3f9e0;
    border-radius: 8px;
}